* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background-color: #F0F2F5;
}

form {
  margin: 5vh auto;
  background: #FFFFFF;
  max-width: 600px;
  padding: 30px;
  border-radius: 10px;
  box-shadow:  2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form .header {
  font-size: 25px;
  font-weight: bold;
  align-self: center;
  text-align: center;
  margin-bottom: 20px;
  color: #1c1e21;
}

.itemOfForm {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.itemOfForm p {
  width: 50%;
}

.timeFrom {
  margin-right: 10px;
}

input, textarea, select {
  border: 1px solid rgb(195, 195, 195);
  border-radius: 6px;
  height: 40px;
  padding: 10px;
  outline: none;
  cursor: pointer;
}

input:focus, textarea:focus, select:focus {
  border-color: #1877F2;
}

button {
  border: none;
  border-radius: 6px;
  align-self: center;
  color: white;
  height: 40px;
  width: 200px;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 80%;
}

button.submit {
  background: #1877F2;
}

button.reset {
  background: #36A420;
}
